.thumbnail {
  /*   width: 200px; */
  height: auto;
  cursor: zoom-in;
  border-radius: 8px;
  transition: transform 0.2s ease;

  &:hover {
    /*    transform: scale(1.03); */
    opacity: 0.8;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.zoomedImage {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.zoomedImage.width {
  width: 90vw;
  height: auto;
}

@keyframes scaleUp {
  to {
    /* 因为zoomedImage本身没有设置width和heitht,它的尺寸会以max-width和max-height进行自适应缩放，也就是scale为1没有问题 */
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1, 1);
  }
}
