.thumbnail {
  // width: 400px;
  // height: auto;
  object-fit: contain; /* 等比缩放，保证全部内容显示 */
  background-color: var(
    --color-bg-secondary
  ); /* 容器多余部分留空，可以设置背景色 */
  cursor: zoom-in;
  border-radius: 8px;
  transition: transform 0.2s ease;

  &:hover {
    /*    transform: scale(1.03); */
    opacity: 0.8;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;

  .zoomedImage {
    position: absolute;
    object-fit: contain; /* 等比缩放，保证全部内容显示 */
    top: 0;
    left: 0;
    transform-origin: center center;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  // .zoomedImage.width {
  //   width: 90vw;
  //   height: auto;
  // }
}
.operationContainer {
  position: fixed;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50vw);
  bottom: 2rem;
  transform: translate(-50%);
  z-index: 9999;
  background-color: var(--color-bg-secondary);
  opacity: 0.4;
  padding: 0.5rem 1rem;
  border-radius: 24px;

  .operationItem {
    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes scaleUp {
  to {
    /* 因为zoomedImage本身没有设置width和heitht,它的尺寸会以max-width和max-height进行自适应缩放，也就是scale为1没有问题 */
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1, 1);
  }
}
